n8n/workflows/approval_reminder.json
{
  "id": "workflow-approval-reminder",
  "name": "Approval Reminder (supplementary nudge)",
  "active": false,
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "description": "SUPPLEMENTARY ONLY. Thin, stateless nudge. Holds NO tenant state and makes NO staleness decisions — it simply asks the backend to send reminders for any videos still awaiting approval. The backend owns the threshold, the per-tenant query, the dedupe, and the email send. All tenant logic lives in the backend webhook handler."
  },
  "nodes": [
    {
      "id": "node-cron-every-2h",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 2,
              "unit": "hours"
            }
          ]
        }
      }
    },
    {
      "id": "node-trigger-reminders",
      "name": "Ask Backend To Send Reminders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 300],
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/webhooks/n8n/schedule-trigger",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "={{ $env.APP_SECRET_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"action\": \"send_approval_reminders\"\n}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "node-log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [720, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "assign-result",
              "name": "result",
              "value": "={{ $json.success ? 'reminders_requested' : 'failed' }}",
              "type": "string"
            },
            {
              "id": "assign-message",
              "name": "message",
              "value": "={{ $json.message || $json.error || 'Backend approval-reminder run requested' }}",
              "type": "string"
            },
            {
              "id": "assign-ran-at",
              "name": "ran_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [
        [
          {
            "node": "Ask Backend To Send Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Backend To Send Reminders": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
