n8n/workflows/scheduled_posting.json
{
  "id": "workflow-scheduled-posting",
  "name": "Scheduled Posting (supplementary nudge)",
  "active": false,
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "description": "SUPPLEMENTARY ONLY. The PRIMARY scheduler is the backend Celery beat task `scan_schedules` (runs every 5 min, see app/workers/celery_app.py). This workflow is a thin, stateless safety-net nudge: it holds NO tenant state and makes NO scheduling decisions. It simply asks the backend to run its own schedule scan. All due-channel logic lives in the backend."
  },
  "nodes": [
    {
      "id": "node-cron-trigger",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 30,
              "unit": "minutes"
            }
          ]
        }
      }
    },
    {
      "id": "node-trigger-scan",
      "name": "Ask Backend To Scan Schedules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 300],
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/webhooks/n8n/schedule-trigger",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "={{ $env.APP_SECRET_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"action\": \"scan_schedules\"\n}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "node-log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [720, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "assign-result",
              "name": "result",
              "value": "={{ $json.success ? 'scan_requested' : 'failed' }}",
              "type": "string"
            },
            {
              "id": "assign-message",
              "name": "message",
              "value": "={{ $json.message || $json.error || 'Backend schedule scan requested' }}",
              "type": "string"
            },
            {
              "id": "assign-ran-at",
              "name": "ran_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Ask Backend To Scan Schedules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Backend To Scan Schedules": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
