n8n/workflows/video_generation_trigger.json
{
  "id": "workflow-video-generation-trigger",
  "name": "Video Generation Trigger",
  "active": false,
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "nodes": [
    {
      "id": "node-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "video-generation",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-extract-job-id",
      "name": "Extract Job ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "assign-job-id",
              "name": "job_id",
              "value": "={{ $json.body.job_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-validate-job-id",
      "name": "Validate Job ID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-job-id-not-empty",
              "leftValue": "={{ $json.job_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-get-job-data",
      "name": "Get Job Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 220],
      "parameters": {
        "method": "GET",
        "url": "=http://backend:8000/api/v1/videos/{{ $json.job_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "={{ $env.APP_SECRET_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "node-trigger-celery-task",
      "name": "Trigger Celery Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 220],
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/webhooks/n8n/schedule-trigger",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "={{ $env.APP_SECRET_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"generate_video\",\n  \"job_id\": \"{{ $('Extract Job ID').item.json.job_id }}\"\n}",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "node-notify-success",
      "name": "Notify Job Queued",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 220],
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/webhooks/n8n/job-complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "={{ $env.APP_SECRET_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"job_id\": \"{{ $('Extract Job ID').item.json.job_id }}\",\n  \"status\": \"queued\",\n  \"message\": \"Video generation task queued successfully\"\n}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "node-respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 220],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"job_id\": \"{{ $('Extract Job ID').item.json.job_id }}\",\n  \"message\": \"Video generation queued\"\n}",
        "options": {
          "responseCode": 202
        }
      }
    },
    {
      "id": "node-invalid-payload",
      "name": "Respond Bad Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 420],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"Missing job_id in request body\"\n}",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "node-error-handler",
      "name": "Report Task Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 420],
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/webhooks/n8n/job-complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "={{ $env.APP_SECRET_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"job_id\": \"{{ $('Extract Job ID').item.json.job_id }}\",\n  \"status\": \"failed\",\n  \"error\": \"n8n workflow error: {{ $json.error.message }}\"\n}",
        "options": {
          "timeout": 10000
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Job ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job ID": {
      "main": [
        [
          {
            "node": "Validate Job ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Job ID": {
      "main": [
        [
          {
            "node": "Get Job Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Bad Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Data": {
      "main": [
        [
          {
            "node": "Trigger Celery Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Celery Task": {
      "main": [
        [
          {
            "node": "Notify Job Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Job Queued": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
